[submodule "pumice-vma/vendor/VulkanMemoryAllocator"]
	path = pumice-vma/vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "pumice-vma/vendor/Vulkan-Headers"]
	path = pumice-vma/vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
